* {
  box-sizing: border-box;
}

body {
	margin: 0;
  padding: 0;
	background: #616161; 
}

#form-content {
  width: 240px;
  margin: 0 auto;
}

.title {
	color: #fff;
  background: #000; 
  text-align: center;
  padding: 0.6em 0;
  margin-bottom: 10px;
}

.container {
	width: 240px;
	margin: 0 auto;
	background: #fff;
	border-radius: 5px;
  transform: translateY(32vh);
}


input[type=text] {
  padding: 0.6em;
  color: #444;
  font-size: 17px;
  outline: none;
  border: none;
}

input[type=password] {
  padding: 0.6em;
  color: #444;
  font-size: 17px;
  outline: none;
  margin-bottom: 16px;
  border: none;
}

input[type=submit] {
  background: #fff;
  padding: 0.6em;
  color: #fff;
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 1em;
  background: #616161;
  margin-left: 75px;
  padding: 8px 14px;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 10px;
}
